 <!-- About Section -->
    <section class="success" id="최신영화">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>최신영화</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <img width " 1204" src="http://imgnews.naver.net/image/origin/396/2013/12/03/147139.jpg">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <img src="http://movie.phinf.naver.net/20111223_33/1324635262035CqxzD_JPEG/movie_image.jpg">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
